<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="nomeArquivo" value="c:\log\log-web-{0}.txt" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <trace enabled="false" pageOutput="false" localOnly="true" />
    </system.web>
</configuration>
