*
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-family: Trebuchet MS, Arial, Verdana, Sans-Serif;
    background-color: #ccc;
}

#menu, #conteudo, #rodape
{
    width: 900px;
    margin: 0px auto;
}

#menu
{
    height:150px;
    background-color: #666; 
/*
    #RRGGBB ou #RGB 
    #000000 preto até #ffffff branco 
*/
}

#conteudo
{
    background-color: #ff0;
}

#rodape
{
    background-color: #666;
    color: #ccc;
    font-size: 80%;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
}

#menu ul
{
    list-style: none;
}

#menu ul li 
{
    float: left;    
    margin-top: 108px;
}   

#menu ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color:#f00;
}

#menu ul li a:hover
{
    text-decoration: none;
    color: #ff0;
    background-color: #ccc;
}
